In [162]:
import pandas as pd      
import numpy as np 
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import pickle

In [163]:
df = pd.read_csv("final_scout_not_dummy_09.csv")
df.head()

,make_model,body_type,price,vat,km,Type,Fuel,Gears,Comfort_Convenience,Entertainment_Media,...,Previous_Owners,hp_kW,Inspection_new,Paint_Type,Upholstery_type,Gearing_Type,Displacement_cc,Weight_kg,Drive_chain,cons_comb
0,Audi A1,Sedans,15770,VAT deductible,56013.0,Used,Diesel,7.0,"Air conditioning,Armrest,Automatic climate con...","Bluetooth,Hands-free equipment,On-board comput...",...,2.0,66.0,1,Metallic,Cloth,Automatic,1422.0,1220.0,front,3.8
1,Audi A1,Sedans,14500,Price negotiable,80000.0,Used,Benzine,7.0,"Air conditioning,Automatic climate control,Hil...","Bluetooth,Hands-free equipment,On-board comput...",...,1.0,141.0,0,Metallic,Cloth,Automatic,1798.0,1255.0,front,5.6
2,Audi A1,Sedans,14640,VAT deductible,83450.0,Used,Diesel,7.0,"Air conditioning,Cruise control,Electrical sid...","MP3,On-board computer",...,1.0,85.0,0,Metallic,Cloth,Automatic,1598.0,1135.0,front,3.8
3,Audi A1,Sedans,14500,VAT deductible,73000.0,Used,Diesel,6.0,"Air suspension,Armrest,Auxiliary heating,Elect...","Bluetooth,CD player,Hands-free equipment,MP3,O...",...,1.0,66.0,0,Metallic,Cloth,Automatic,1422.0,1195.0,front,3.8
4,Audi A1,Sedans,16790,VAT deductible,16200.0,Used,Diesel,7.0,"Air conditioning,Armrest,Automatic climate con...","Bluetooth,CD player,Hands-free equipment,MP3,O...",...,1.0,66.0,1,Metallic,Cloth,Automatic,1422.0,1135.0,front,4.1

In [164]:
df2= df[['hp_kW',"age",'km','make_model','Gearing_Type', 'price']]
df2.head()

   hp_kW  age       km make_model Gearing_Type  price
0   66.0  3.0  56013.0    Audi A1    Automatic  15770
1  141.0  2.0  80000.0    Audi A1    Automatic  14500
2   85.0  3.0  83450.0    Audi A1    Automatic  14640
3   66.0  3.0  73000.0    Audi A1    Automatic  14500
4   66.0  3.0  16200.0    Audi A1    Automatic  16790

In [165]:
df2.info

<bound method DataFrame.info of        hp_kW  age            km      make_model Gearing_Type  price
0       66.0  3.0  56013.000000         Audi A1    Automatic  15770
1      141.0  2.0  80000.000000         Audi A1    Automatic  14500
2       85.0  3.0  83450.000000         Audi A1    Automatic  14640
3       66.0  3.0  73000.000000         Audi A1    Automatic  14500
4       66.0  3.0  16200.000000         Audi A1    Automatic  16790
...      ...  ...           ...             ...          ...    ...
15910  147.0  0.0   1647.362609  Renault Espace    Automatic  39950
15911  165.0  0.0   9900.000000  Renault Espace    Automatic  39885
15912  146.0  0.0     15.000000  Renault Espace    Automatic  39875
15913  147.0  0.0     10.000000  Renault Espace    Automatic  39700
15914  165.0  0.0   1647.362609  Renault Espace    Automatic  40999

[15915 rows x 6 columns]>

In [166]:
X= df2.drop("price", axis=1)
y= df2["price"]

In [167]:
X = pd.get_dummies(X)

In [168]:
X

,hp_kW,age,km,make_model_Audi A1,make_model_Audi A2,make_model_Audi A3,make_model_Opel Astra,make_model_Opel Corsa,make_model_Opel Insignia,make_model_Renault Clio,make_model_Renault Duster,make_model_Renault Espace,Gearing_Type_Automatic,Gearing_Type_Manual,Gearing_Type_Semi-automatic
0,66.0,3.0,56013.000000,1,0,0,0,0,0,0,0,0,1,0,0
1,141.0,2.0,80000.000000,1,0,0,0,0,0,0,0,0,1,0,0
2,85.0,3.0,83450.000000,1,0,0,0,0,0,0,0,0,1,0,0
3,66.0,3.0,73000.000000,1,0,0,0,0,0,0,0,0,1,0,0
4,66.0,3.0,16200.000000,1,0,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15910,147.0,0.0,1647.362609,0,0,0,0,0,0,0,0,1,1,0,0
15911,165.0,0.0,9900.000000,0,0,0,0,0,0,0,0,1,1,0,0
15912,146.0,0.0,15.000000,0,0,0,0,0,0,0,0,1,1,0,0
15913,147.0,0.0,10.000000,0,0,0,0,0,0,0,0,1,1,0,0
15914,165.0,0.0,1647.362609,0,0,0,0,0,0,0,0,1,1,0,0

In [169]:
X.shape

(15915, 15)

In [170]:
X.columns

Index(['hp_kW', 'age', 'km', 'make_model_Audi A1', 'make_model_Audi A2',
       'make_model_Audi A3', 'make_model_Opel Astra', 'make_model_Opel Corsa',
       'make_model_Opel Insignia', 'make_model_Renault Clio',
       'make_model_Renault Duster', 'make_model_Renault Espace',
       'Gearing_Type_Automatic', 'Gearing_Type_Manual',
       'Gearing_Type_Semi-automatic'],
      dtype='object')

In [171]:
y

0        15770
1        14500
2        14640
3        14500
4        16790
         ...
15910    39950
15911    39885
15912    39875
15913    39700
15914    40999
Name: price, Length: 15915, dtype: int64

In [172]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [173]:
lm=LinearRegression()
lm.fit(X_train,y_train)
y_pred=lm.predict(X_test)
filename = 'last_model'
pickle.dump(lm, open(filename, 'wb'))

In [174]:
df2.describe()

              hp_kW           age             km         price
count  15915.000000  15915.000000   15915.000000  15915.000000
mean      88.499340      1.389695   32089.995708  18024.380584
std       26.674341      1.121306   36977.214964   7381.679318
min       40.000000      0.000000       0.000000   4950.000000
25%       66.000000      0.000000    1920.500000  12850.000000
50%       85.000000      1.000000   20413.000000  16900.000000
75%      103.000000      2.000000   46900.000000  21900.000000
max      294.000000      3.000000  317000.000000  74600.000000

In [175]:
def eval_metrics(actual, pred):
    rmse = np.sqrt(mean_squared_error(actual, pred))
    mae = mean_absolute_error(actual, pred)
    mse = mean_squared_error(actual, pred)
    score = r2_score(actual, pred)
    return print(" r2_score:", score, "\n","mae:", mae, "\n","mse:",mse, "\n","rmse:",rmse)

In [176]:
y_pred = lm.predict(X_test)
eval_metrics(y_test, y_pred)

 r2_score: 0.8462006399070825
 mae: 2001.2732472080959
 mse: 8367298.397687334
 rmse: 2892.628285433048

In [177]:
#columns=X.columns
#pickle.dump(columns, open("assignment_columns", 'wb'))

In [178]:
#columns=pickle.load(open('assignment_columns','rb'))

In [179]:
#columns

**deployment**

In [180]:
mesut_model = pickle.load(open('last_model', 'rb'))

In [181]:
columns=list(X.columns)
columns

['hp_kW',
 'age',
 'km',
 'make_model_Audi A1',
 'make_model_Audi A2',
 'make_model_Audi A3',
 'make_model_Opel Astra',
 'make_model_Opel Corsa',
 'make_model_Opel Insignia',
 'make_model_Renault Clio',
 'make_model_Renault Duster',
 'make_model_Renault Espace',
 'Gearing_Type_Automatic',
 'Gearing_Type_Manual',
 'Gearing_Type_Semi-automatic']

In [182]:
my_dict = {
    "hp_kW": 150,
    "age": 5,
    "km": 130000,
    'make_model Audi A1': 0,
 'make_model_Audi A2': 0,
 'make_model_Audi A3': 0,
 'make_model_Opel Astra': 1,
 'make_model_Opel Corsa': 0,
 'make_model_Opel Insignia': 0,
 'make_model_Renault Clio' :0 ,
 'make_model_Renault Duster':0 ,
 'make_model_Renault Espace':0,
 'Gearing_Type_Automatic':1,
 'Gearing_Type_Manual': 0,
 'Gearing_Type_Semi-automatic': 0
}

In [183]:
df2 = pd.DataFrame.from_dict([my_dict])

In [184]:
df2

,hp_kW,age,km,make_model Audi A1,make_model_Audi A2,make_model_Audi A3,make_model_Opel Astra,make_model_Opel Corsa,make_model_Opel Insignia,make_model_Renault Clio,make_model_Renault Duster,make_model_Renault Espace,Gearing_Type_Automatic,Gearing_Type_Manual,Gearing_Type_Semi-automatic
0,150,5,130000,0,0,0,1,0,0,0,0,0,1,0,0

In [185]:
prediction = mesut_model.predict(df2)
print(prediction)

[12184.77613679]

c:\Users\TOSHIBA\anaconda3\envs\streamlit2\lib\site-packages\sklearn\base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- make_model Audi A1
Feature names seen at fit time, yet now missing:
- make_model_Audi A1

  warnings.warn(message, FutureWarning)

In [186]:
print("The estimated value of sales is {}. ".format(int(prediction[0])))

The estimated value of sales is 12184.

# xgboost

In [187]:
pip in

Note: you may need to restart the kernel to use updated packages.

ERROR: unknown command "in"

In [188]:
df = pd.read_csv("final_scout_not_dummy_09.csv")
df.head()

,make_model,body_type,price,vat,km,Type,Fuel,Gears,Comfort_Convenience,Entertainment_Media,...,Previous_Owners,hp_kW,Inspection_new,Paint_Type,Upholstery_type,Gearing_Type,Displacement_cc,Weight_kg,Drive_chain,cons_comb
0,Audi A1,Sedans,15770,VAT deductible,56013.0,Used,Diesel,7.0,"Air conditioning,Armrest,Automatic climate con...","Bluetooth,Hands-free equipment,On-board comput...",...,2.0,66.0,1,Metallic,Cloth,Automatic,1422.0,1220.0,front,3.8
1,Audi A1,Sedans,14500,Price negotiable,80000.0,Used,Benzine,7.0,"Air conditioning,Automatic climate control,Hil...","Bluetooth,Hands-free equipment,On-board comput...",...,1.0,141.0,0,Metallic,Cloth,Automatic,1798.0,1255.0,front,5.6
2,Audi A1,Sedans,14640,VAT deductible,83450.0,Used,Diesel,7.0,"Air conditioning,Cruise control,Electrical sid...","MP3,On-board computer",...,1.0,85.0,0,Metallic,Cloth,Automatic,1598.0,1135.0,front,3.8
3,Audi A1,Sedans,14500,VAT deductible,73000.0,Used,Diesel,6.0,"Air suspension,Armrest,Auxiliary heating,Elect...","Bluetooth,CD player,Hands-free equipment,MP3,O...",...,1.0,66.0,0,Metallic,Cloth,Automatic,1422.0,1195.0,front,3.8
4,Audi A1,Sedans,16790,VAT deductible,16200.0,Used,Diesel,7.0,"Air conditioning,Armrest,Automatic climate con...","Bluetooth,CD player,Hands-free equipment,MP3,O...",...,1.0,66.0,1,Metallic,Cloth,Automatic,1422.0,1135.0,front,4.1

In [189]:
from sklearn.preprocessing import OrdinalEncoder

In [190]:
X4=df.drop("price", axis=1)
y=df.price

In [191]:
cat = X4.select_dtypes("object").columns
cat

Index(['make_model', 'body_type', 'vat', 'Type', 'Fuel', 'Comfort_Convenience',
       'Entertainment_Media', 'Extras', 'Safety_Security', 'Paint_Type',
       'Upholstery_type', 'Gearing_Type', 'Drive_chain'],
      dtype='object')

In [192]:
cat.value_counts()

make_model             1
body_type              1
vat                    1
Type                   1
Fuel                   1
Comfort_Convenience    1
Entertainment_Media    1
Extras                 1
Safety_Security        1
Paint_Type             1
Upholstery_type        1
Gearing_Type           1
Drive_chain            1
dtype: int64

In [193]:
enc = OrdinalEncoder()
X4[cat] = enc.fit_transform(X4[cat])
X4.head()

,make_model,body_type,vat,km,Type,Fuel,Gears,Comfort_Convenience,Entertainment_Media,Extras,...,Previous_Owners,hp_kW,Inspection_new,Paint_Type,Upholstery_type,Gearing_Type,Displacement_cc,Weight_kg,Drive_chain,cons_comb
0,0.0,4.0,1.0,56013.0,4.0,1.0,7.0,840.0,171.0,244.0,...,2.0,66.0,1,0.0,0.0,0.0,1422.0,1220.0,1.0,3.8
1,0.0,4.0,0.0,80000.0,4.0,0.0,7.0,4695.0,172.0,493.0,...,1.0,141.0,0,0.0,0.0,0.0,1798.0,1255.0,1.0,5.6
2,0.0,4.0,1.0,83450.0,4.0,1.0,7.0,5009.0,320.0,529.0,...,1.0,85.0,0,0.0,0.0,0.0,1598.0,1135.0,1.0,3.8
3,0.0,4.0,1.0,73000.0,4.0,1.0,6.0,5977.0,46.0,504.0,...,1.0,66.0,0,0.0,0.0,0.0,1422.0,1195.0,1.0,3.8
4,0.0,4.0,1.0,16200.0,4.0,1.0,7.0,2407.0,47.0,471.0,...,1.0,66.0,1,0.0,0.0,0.0,1422.0,1135.0,1.0,4.1

In [194]:
from sklearn.model_selection import train_test_split
X4_train,X4_test,y_train,y_test=train_test_split(X4,y,test_size=0.2, random_state=5)

print("Train features shape : ", X4_train.shape)
print("Train target shape   : ", y_train.shape)
print("Test features shape  : ", X4_test.shape)
print("Test target shape    : ", y_test.shape)

Train features shape :  (12732, 22)
Train target shape   :  (12732,)
Test features shape  :  (3183, 22)
Test target shape    :  (3183,)

In [195]:
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

In [196]:
def train_val(model, X4_train, y4_train, X4_test, y_test):
    
    y_pred = model.predict(X4_test)
    y_train_pred = model.predict(X4_train)
    
    scores = {"train": {"R2" : r2_score(y_train, y_train_pred),
    "mae" : mean_absolute_error(y_train, y_train_pred),
    "mse" : mean_squared_error(y_train, y_train_pred),                          
    "rmse" : np.sqrt(mean_squared_error(y_train, y_train_pred))},
    
    "test": {"R2" : r2_score(y_test, y_pred),
    "mae" : mean_absolute_error(y_test, y_pred),
    "mse" : mean_squared_error(y_test, y_pred),
    "rmse" : np.sqrt(mean_squared_error(y_test, y_pred))}}
    
    return pd.DataFrame(scores)

In [197]:
from xgboost import XGBRegressor

In [198]:
xgb_model = XGBRegressor(random_state=101, objective="reg:squarederror")

In [199]:
xgb_model.fit(X4_train, y_train)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, enable_categorical=False,
             gamma=0, gpu_id=-1, importance_type=None,
             interaction_constraints='', learning_rate=0.300000012,
             max_delta_step=0, max_depth=6, min_child_weight=1, missing=nan,
             monotone_constraints='()', n_estimators=100, n_jobs=4,
             num_parallel_tree=1, predictor='auto', random_state=101,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
             tree_method='exact', validate_parameters=1, verbosity=None)

In [200]:
train_val(xgb_model, X4_train, y_train, X4_test, y_test)

              train          test
R2         0.985418  9.496669e-01
mae      639.728027  1.021853e+03
mse   797915.487387  2.695270e+06
rmse     893.261153  1.641728e+03

In [201]:
from sklearn.model_selection import cross_validate, cross_val_score
model = XGBRegressor(random_state=101, objective="reg:squarederror")
scores = cross_validate(model, X4_train, y_train, scoring=['r2', 
            'neg_mean_absolute_error','neg_mean_squared_error','neg_root_mean_squared_error'], cv =10)
pd.DataFrame(scores).iloc[:, 2:].mean()

test_r2                             9.487946e-01
test_neg_mean_absolute_error       -1.020398e+03
test_neg_mean_squared_error        -2.794162e+06
test_neg_root_mean_squared_error   -1.668458e+03
dtype: float64

In [202]:
pickle.dump(xgb_model, open("xgb_model2", 'wb'))
xgb_model=pickle.load(open("xgb_model", "rb"))

In [203]:
my_dict = {
    "hp": 200,
    "age": 1,
    "km": 100000,
    "make_model": 'A3',
    'gearing_type':'Automatic'
}

In [204]:
df5 = pd.DataFrame.from_dict([my_dict])

In [205]:
df5.head()

    hp  age      km make_model gearing_type
0  200    1  100000         A3    Automatic

In [206]:
df5 = pd.get_dummies(df5)

In [207]:
#df5 = pd.get_dummies(df5).reindex(columns=columns, fill_value=0)

In [208]:
df5.head()

    hp  age      km  make_model_A3  gearing_type_Automatic
0  200    1  100000              1                       1

In [209]:
xgb_pred2 = pd.DataFrame(xgb_model.predict(df5[df5.columns.difference(['make_model_A3', 'gearing_type_Automatic'])]),columns = ['Predicted'], index = df5.index)

ValueError: Feature shape mismatch, expected: 15, got 3

In [ ]:
xgb_pred=list(xgb_model.predict(df5))

ValueError: Feature shape mismatch, expected: 15, got 5

In [ ]:
xgb_pred=xgb_model.predict(df5)

ValueError: Feature shape mismatch, expected: 15, got 6

In [ ]:
print('xgb_model:', xgb_pred)

NameError: name 'xgb_pred' is not defined

# ---------------------------------------------------------------------------------------------------

In [ ]:
df = pd.read_csv("final_scout_not_dummy_09.csv")
df.head()

,make_model,body_type,price,vat,km,Type,Fuel,Gears,Comfort_Convenience,Entertainment_Media,...,Previous_Owners,hp_kW,Inspection_new,Paint_Type,Upholstery_type,Gearing_Type,Displacement_cc,Weight_kg,Drive_chain,cons_comb
0,Audi A1,Sedans,15770,VAT deductible,56013.0,Used,Diesel,7.0,"Air conditioning,Armrest,Automatic climate con...","Bluetooth,Hands-free equipment,On-board comput...",...,2.0,66.0,1,Metallic,Cloth,Automatic,1422.0,1220.0,front,3.8
1,Audi A1,Sedans,14500,Price negotiable,80000.0,Used,Benzine,7.0,"Air conditioning,Automatic climate control,Hil...","Bluetooth,Hands-free equipment,On-board comput...",...,1.0,141.0,0,Metallic,Cloth,Automatic,1798.0,1255.0,front,5.6
2,Audi A1,Sedans,14640,VAT deductible,83450.0,Used,Diesel,7.0,"Air conditioning,Cruise control,Electrical sid...","MP3,On-board computer",...,1.0,85.0,0,Metallic,Cloth,Automatic,1598.0,1135.0,front,3.8
3,Audi A1,Sedans,14500,VAT deductible,73000.0,Used,Diesel,6.0,"Air suspension,Armrest,Auxiliary heating,Elect...","Bluetooth,CD player,Hands-free equipment,MP3,O...",...,1.0,66.0,0,Metallic,Cloth,Automatic,1422.0,1195.0,front,3.8
4,Audi A1,Sedans,16790,VAT deductible,16200.0,Used,Diesel,7.0,"Air conditioning,Armrest,Automatic climate con...","Bluetooth,CD player,Hands-free equipment,MP3,O...",...,1.0,66.0,1,Metallic,Cloth,Automatic,1422.0,1135.0,front,4.1

In [ ]:
df.drop(["body_type", "vat", "Type","Fuel", "Comfort_Convenience", "Entertainment_Media", "Previous_Owners", 
        "Inspection_new","Paint_Type", "Upholstery_type", "Displacement_cc", "Drive_chain", "cons_comb", "Extras","Safety_Security", "Weight_kg" ], axis=1, inplace=True)

In [ ]:
df3 = df.copy()
df3.head()

  make_model  price       km  Gears  age  hp_kW Gearing_Type
0    Audi A1  15770  56013.0    7.0  3.0   66.0    Automatic
1    Audi A1  14500  80000.0    7.0  2.0  141.0    Automatic
2    Audi A1  14640  83450.0    7.0  3.0   85.0    Automatic
3    Audi A1  14500  73000.0    6.0  3.0   66.0    Automatic
4    Audi A1  16790  16200.0    7.0  3.0   66.0    Automatic

In [ ]:
X1 = df3[['hp_kW',"age",'km','make_model','Gearing_Type', 'price']]

In [ ]:
df3.shape

(15915, 7)

In [ ]:
X2=pd.get_dummies(X1, columns = None)

In [ ]:
X2

,hp_kW,age,km,price,make_model_Audi A1,make_model_Audi A2,make_model_Audi A3,make_model_Opel Astra,make_model_Opel Corsa,make_model_Opel Insignia,make_model_Renault Clio,make_model_Renault Duster,make_model_Renault Espace,Gearing_Type_Automatic,Gearing_Type_Manual,Gearing_Type_Semi-automatic
0,66.0,3.0,56013.000000,15770,1,0,0,0,0,0,0,0,0,1,0,0
1,141.0,2.0,80000.000000,14500,1,0,0,0,0,0,0,0,0,1,0,0
2,85.0,3.0,83450.000000,14640,1,0,0,0,0,0,0,0,0,1,0,0
3,66.0,3.0,73000.000000,14500,1,0,0,0,0,0,0,0,0,1,0,0
4,66.0,3.0,16200.000000,16790,1,0,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15910,147.0,0.0,1647.362609,39950,0,0,0,0,0,0,0,0,1,1,0,0
15911,165.0,0.0,9900.000000,39885,0,0,0,0,0,0,0,0,1,1,0,0
15912,146.0,0.0,15.000000,39875,0,0,0,0,0,0,0,0,1,1,0,0
15913,147.0,0.0,10.000000,39700,0,0,0,0,0,0,0,0,1,1,0,0
15914,165.0,0.0,1647.362609,40999,0,0,0,0,0,0,0,0,1,1,0,0

In [ ]:
X2.columns.value_counts()

hp_kW                          1
age                            1
km                             1
price                          1
make_model_Audi A1             1
make_model_Audi A2             1
make_model_Audi A3             1
make_model_Opel Astra          1
make_model_Opel Corsa          1
make_model_Opel Insignia       1
make_model_Renault Clio        1
make_model_Renault Duster      1
make_model_Renault Espace      1
Gearing_Type_Automatic         1
Gearing_Type_Manual            1
Gearing_Type_Semi-automatic    1
dtype: int64

In [ ]:
X2.shape

(15915, 16)

In [ ]:
y.shape

(15915,)

In [ ]:
X2= df3.drop("price", axis=1)
y1= df3["price"]

In [ ]:
import pickle
columns=X2.columns
pickle.dump(columns, open("my_columns2", 'wb'))

In [ ]:
columns=pickle.load(open('my_columns2','rb'))

In [ ]:
columns

Index(['make_model', 'km', 'Gears', 'age', 'hp_kW', 'Gearing_Type'], dtype='object')

In [ ]:
y.head()

0    15770
1    14500
2    14640
3    14500
4    16790
Name: price, dtype: int64

In [ ]:
X2

           make_model            km  Gears  age  hp_kW Gearing_Type
0             Audi A1  56013.000000    7.0  3.0   66.0    Automatic
1             Audi A1  80000.000000    7.0  2.0  141.0    Automatic
2             Audi A1  83450.000000    7.0  3.0   85.0    Automatic
3             Audi A1  73000.000000    6.0  3.0   66.0    Automatic
4             Audi A1  16200.000000    7.0  3.0   66.0    Automatic
...               ...           ...    ...  ...    ...          ...
15910  Renault Espace   1647.362609    6.0  0.0  147.0    Automatic
15911  Renault Espace   9900.000000    7.0  0.0  165.0    Automatic
15912  Renault Espace     15.000000    6.0  0.0  146.0    Automatic
15913  Renault Espace     10.000000    6.0  0.0  147.0    Automatic
15914  Renault Espace   1647.362609    6.0  0.0  165.0    Automatic

[15915 rows x 6 columns]

In [ ]:
from xgboost import XGBRFRegressor
xgb=XGBRFRegressor()
xgb.fit(X2_train,y1_train)

ValueError: DataFrame.dtypes for data must be int, float, bool or category.  When
                categorical type is supplied, DMatrix parameter `enable_categorical` must
                be set to `True`.make_model, Gearing_Type

In [ ]:
y_pred = xgb.predict(X1_test)
eval_metrics(y1_test, y_pred)

 r2_score: 0.8935438283606355
 mae: 1618.4706399296465
 mse: 5791640.185263694
 rmse: 2406.582677836707

In [ ]:
pickle.dump(xgb, open("xgb_model", 'wb'))
xgb_model=pickle.load(open("xgb_model", "rb"))

In [ ]:
my_dict = {
    "hp": 200,
    "age": 1,
    "km": 100000,
    "model": 'A3',
    'gearing_type':'Automatic'
}

In [ ]:
df4 = pd.DataFrame.from_dict([my_dict])

In [ ]:
df4

    hp  age      km model gearing_type
0  200    1  100000    A3    Automatic

In [ ]:
columns=df4.columns

In [ ]:
df4 = pd.get_dummies(df4).reindex(columns=columns, fill_value=0)

In [ ]:
df4.columns

Index(['hp', 'age', 'km', 'model', 'gearing_type'], dtype='object')

In [ ]:
xgb_pred=list(xgb_model.predict(df4))

ValueError: Feature shape mismatch, expected: 15, got 5

In [ ]:
xgb_pred

NameError: name 'xgb_pred' is not defined